.content {
  padding: 1rem;
  align-items: center;
  margin: auto;
  text-align: center;
}

.users {
  padding: 1rem;
  margin: auto;
  align-self: center;
}

article {
  width: 100%;
  margin: auto;
  align-self: center;
}

.post {
  width: 100%;
  margin: auto;
  align-items: center;
}
