.content {
  padding: 1rem;
  align-items: center;
  margin: auto;
  text-align: center;
}

.users {
  padding: 1rem;
  margin: auto;
  align-self: center;
}

article {
  width: 100%;
  margin: auto;
  align-self: center;
}

.post {
  width: 100%;
  margin: auto;
  align-items: center;
}

#main-profile-pic {
  border-radius: 50%;
  overflow: hidden;
}

#title-div {
  margin: 2rem;
}

#body-div {
  margin: 2rem;
}

.input-title {
  margin-bottom: 1rem;
}

#leaderboard-div {
  margin: auto;
  align-items: center;
  align-content: center;
  width: 100%;
}

table {
  margin: auto;
  align-items: center;
  align-content: center;
  width: 100%;
}
